img{
	max-width: 100%;
}

.mg-tile{
	height: 300px;
	perspective: 500px;
	min-width: 300px;
	border: 2px solid black;
}

.mg-tile-inner{
	width: 300px;
	/* The children will be absolute eventually. */
	position: relative;
	transform-style: preserve-3d;
	transition: all .5s;
}

.mg-front, .mg-back{
	position: absolute;
	top: 0;
	left: 0;
	border: 2px red solid;
	backface-visibility: hidden;
}

.mg-front{
	transform: rotateY(180deg);
}

.mg-back{
	background: url("images/logo.png") 50% 50% no-repeat;
	width: 300px;
	height: 200px;
}

.flip{
	transform: rotateY(-180deg);
}